@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("../assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.modal-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.overlay-hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote,
.change-settings,
.change-todo {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.change-settings:hover,
.change-todo:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active,
.change-settings:active,
.change-todo:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 160px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.footer-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.change-settings {
  background-image: url("../assets/svg/settings.svg");
  z-index: 1;
}

.change-todo {
  background-image: url("../assets/svg/todo.svg");
  z-index: 1;
}

.hidden {
  visibility: hidden;
  transition: 0.5s;
  opacity: 0;
}

.modal {
  transition: 0.5s;
}

.modal-window {
  display: flex;
  position: fixed;
  bottom: 70px;
  left: 20px;
  max-width: 200px;
  border-radius: 15px;
  background: #444444;
  padding-top: 5px;
  z-index: 1;
}

.modal-window-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.source-images {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
}

.source-images p {
  margin-bottom: 5px;
}

.todo-modal {
  transition: 0.5s;
}

.todo-window {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 15px;
  background: #444444;
  text-align: center;
  padding-top: 5px;
  z-index: 1;
}

.input-add-task {
  border: none;
  outline: none;
  background-color: #6E6C6C;
}

.todo-window-main {
  width: 100%;
}

.todo p {
  margin-bottom: 5px;
}

.add-task {
  background-image: url("../assets/svg/plus.svg");
}

.delete-task {
  background-image: url("../assets/svg/delete.svg");
}

.deleteAll-tasks {
  background-image: url("../assets/svg/deleteAll.svg");
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type:none;
  width: 90%;
  margin: auto;
  justify-content: center;
}

.todo-list li span {
  width: 70%;
  overflow: hidden;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

.add-task,
.delete-task,
.deleteAll-tasks {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
}

.add-task:hover,
.delete-task:hover,
.deleteAll-tasks:hover {
  opacity: 1;
}

.add-task:active,
.delete-task:active,
.deleteAll-tasks:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.language p {
  margin-bottom: 5px;
}

.search-input {
  border: none;
  outline: none;
  background-color: #6E6C6C;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 90%;
  align-self: center;
}

.search-input::placeholder {
  color: #C5B358;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}
